@model Alexandria.Models.Livro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LivroTitulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivroTitulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LivroEditarora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivroEditarora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPublicacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPublicacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.LivroId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
